header {
  /* background-color: rgb(181, 110, 246); */
  position: static;
}

.header-columns {
  display: flex;
  justify-content: space-between;
  max-width: 1216px;
  margin: 0 auto;
}

.header-col-1 {
  padding-left: 64px;
}

.col-1-contents {
  display: flex;
  align-items: center;
  /* padding-left: 16px; */
  padding-right: 16px;
}

.col-1-title {
  /* padding-left: 16px; */
  padding-right: 8px;
}

.col-1-title h3 {
  color: black;
  text-decoration: solid underline blueviolet 4px;
}

.col-1-desc {
  display: flex;
  padding-left: 8px;
  padding-right: 16px;
}

.col-1-desc p {
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  color: black;
  /* text-decoration: solid underline blueviolet 2px; */

}

.header-col-2 {
  display: flex;
  align-items: center;
  padding-left: 16px;
  padding-right: 64px;

}

a {
  text-decoration: none;
  color: black;
  padding-left: 8px;
  padding-right: 8px;
  font-weight: 600;
}

a:hover {
  text-decoration: none;
}